@model ClubReservation.Models.User
@{
    ViewBag.Title = "用户详细";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header position-relative">
    <h1>用户管理<small><i class="icon-double-angle-right"></i> 用户详细</small></h1>
</div><!--/page-header-->
<!-- 操作后的信息弹出层 -->
<!-- PAGE CONTENT BEGINS HERE -->
<div class="row-fluid">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-block alert-message alert-success">
            <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
            <span>
                <i class="icon-ok green"></i>
                @TempData["Success"]
            </span>
        </div>
    }
</div>
<div class="row-fluid">
    <form id="userFrom" class="form-horizontal">
        <div class="control-group">
            @Html.LabelFor(model => model.EmployeeCode, new { @class = "control-label" })
            <div class="controls">
                <span class="input-icon">
                    @Html.TextBoxFor(model => model.EmployeeCode, new { @readonly="readonly"})
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                <span class="input-icon">
                    @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly" })

                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Sex, new { @class = "control-label" })
            <div class="controls">
                <span class="input-icon">
                    @if (Model.Sex == 0)
                    { <input type="text" readonly value="男" />}
                    else if (Model.Sex == 1)
                    {
                        <input type="text" readonly value="女" />
                    }
                    else
                    {
                        <input type="text" readonly value="" />
                    }
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Team, new { @class = "control-label" })
            <div class="controls">
                <span class="input-icon">
                    @Html.TextBoxFor(model => model.Team, new { @readonly = "readonly" })
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Tel, new { @class = "control-label" })
            <div class="controls">
                <span class="input-icon">
                    @Html.TextBoxFor(model => model.Tel, new { @readonly = "readonly" })
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
            <div class="controls">
                <span class="input-icon">
                    @Html.TextBoxFor(model => model.Phone, new { @readonly = "readonly" })
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
            <div class="controls">
                <span class="input-icon">
                    @Html.TextBoxFor(model => model.Email, new { @readonly = "readonly" })
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.EntryTime, new { @class = "control-label" })
            <div class="controls">
                <span class="input-icon">
                    @if (Model.EntryTime != null)
                    {
                        DateTime dt = DateTime.Parse(Model.EntryTime);
                        <input id="EntryTime" name="EntryTime" readonly="readonly" type="text"
                               value="@dt.ToString("yyyy-MM-dd")">
                    }
                    else
                    {
                        <input id="EntryTime" name="EntryTime" readonly="readonly" type="text"
                               value="">
                    }
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls" style="width:30%">
                <table class="table table-bordered table-condensed">
                    @if (Model.ClubUsers.Count >0 )
                    {
                        <thead>
                            <tr>
                                <td>俱乐部</td>
                                <td>角色</td>
                            </tr>
                        </thead>
                        foreach (var uc in Model.ClubUsers.ToList())
                        {
                            <tr>
                                <td>
                                    @(uc.Club.ClubName)
                                </td>
                                <td>
                                    @(uc.Role.RoleName)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>

        </div>
        <div class="form-actions">
            <a href="@Url.Action("Edit","User", new { id=Model.Id })" class="btn btn-info btn-small"><i class="icon-edit"></i> 编辑</a>
            &nbsp; &nbsp;
            <a href="@Url.Action("Index")" class="btn btn-purple btn-small">
                <i class="icon-arrow-left"></i> 返回
            </a>
        </div>
        <div class="hr"></div>

    </form>
    <div class="space-24ger"></div>

</div><!--/row-->
<!-- 皮肤设置-->
<div id="ace-settings-container">
    <!--#breadcrumbs皮肤的设置-->
    @Html.Partial("~/Views/Shared/_PageSkin.cshtml")
</div>
