@model IEnumerable<ClubReservation.Models.User>

@{
    ViewBag.Title = "用户一览";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <!--自定义样式-->
    <link href="@Url.Content("~/Content/pagecss/user.css")" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/pagejs/user.js")"></script>
}
<div class="page-header position-relative">
    <h1>用户管理<small><i class="icon-double-angle-right"></i> 用户一览</small></h1>
</div><!--/page-header-->
<!-- 操作后的信息弹出层 -->
<div class="row-fluid" id="div-alert-message">
</div>
<div class="row-fluid">
    <div class="table-header">
        <i class="icon-user"></i>&nbsp;&nbsp;用户一览
    </div>
    <div id="div-table-user">
        @Html.Partial("~/Views/User/_UserTable.cshtml", Model)
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

        <h3 id="myModalLabel"><i class="red icon-flag"></i>&nbsp;权限设置</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="control-group">
                <div class="controls">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="mymodel-submit" data-dismiss="modal" aria-hidden="true" class="btn btn-small btn-success mymodel-submit"
                href="@Url.Action("SetUserPowers","User")">
            <i class="icon-ok"></i> 提交
        </button>
        <button class="btn btn-small" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>取消</button>
    </div>
</div>

<div id="ace-settings-container">
    <!--#breadcrumbs皮肤的设置-->
        @Html.Partial("~/Views/Shared/_PageSkin.cshtml")
</div><!--/#ace-settings-container-->


