@model IEnumerable<ClubReservation.Models.Examine>
@{int i = 1;}
<table id="table_examine" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center num">序号</th>
            <th class="employeeCode">@Html.DisplayNameFor(model => model.User.EmployeeCode)</th>
            <th class="name">@Html.DisplayNameFor(model => model.User.Name)</th>
            <th class="email">@Html.DisplayNameFor(model => model.User.Email)</th>
            <th class="createDate">@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th class="center opertae">操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.ToList())
            {
                <tr>
                    <td class="center num">@(i++)</td>
                    <td class="employeeCode">@Html.DisplayFor(modelItem => item.User.EmployeeCode)</td>
                    <td class="name">@Html.DisplayFor(modelItem => item.User.Name)</td>
                    <td class="email">@Html.DisplayFor(modelItem => item.User.Email)</td>
                    <td class="createdate">@(item.CreateDate.ToString("yyyy-MM-dd"))</td>
                    <td class="center opertae">
                        <div class="inline position-relative">
                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only"></i>&nbsp;选择</button>
                            <ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
                                <li>
                                    <a href="@Url.Action("ExaminePass", "Club")" value="@(item.Id)" class="tooltip-success pass-examine" data-rel="tooltip"
                                       title="通过" data-placement="left"><span class="green"><i class="icon-edit"></i></span>通过</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ExamineReturn", "Club")" value="@(item.Id)" class="tooltip-error return-examine" data-rel="tooltip"
                                       title="退回" data-placement="left"><span class="red"><i class="icon-trash"></i></span>退回</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>